<form [formGroup]="userForm">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <!-- [errorStateMatcher]="matcher" -->
      <input type="email" matInput name="email" formControlName="email"
             placeholder="Ex. john@example.com">
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error *ngIf=" userForm.get('email')?.invalid && !userForm.get('email')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="userForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
</form>
